@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
/* font-family: "Poppins", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* font-family: 'Open Sans', sans-serif; */
* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
.list-container button {
  background-color: white
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 20px;

}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
h2,
h3 {
  color: hsl(192, 100%, 9%);
}
p {
  color: hsl(208, 11%, 55%);
  width: 70%;
}

header {
  
  padding-bottom: 20px;
  
}

.logo-container {
  display: flex;
  /* padding-left: 10px; */
  padding-top: 10px;
  align-items: flex-start;
  
}
/* for mobile logo height is reduced */
.logo img{
  display: flex;
  height: 20px;
  width: 90px;
  align-items: flex-start;
}
.list-container {
  
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding-right: 10px;
  margin-top: -30px;
  height: 20px;
}
/* for mobile button size */
.list-container button{
  font-size: x-small;
  padding: 10px;
  background-color: aquamarine;
  border: 12px;
  font-weight: 800;
}

.container{
  background-image: url(./images/bg-hero-mobile.svg);
  padding: 1rem;
}

.box1 {
  background-image: url(./images/bg-hero-mobile.svg);
  background-size: cover;
  padding-bottom: 10px;
}
.box1-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.box1-b {
  display: flex;
  align-items: center;
}
.box2{
  padding-bottom: 10px;
  background-color: red;
  
}
.box2-a {
  display: flex;
  align-items: center;
}
.box2-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.box3{
  padding-bottom: 10px;
  background-color: green;
}
.box3-a {
  display: flex;
  align-items: center;
}
.box3-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.box4{
  padding-bottom: 10px;
  background-color: navy;
}
.box4-a {
  display: flex;
  align-items: center;
}
.box4-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.box5 {
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-bottom: 20px; */
  
  
}
.box5-btn button{
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 10px;
  border-top: 20px;
  border-bottom: 20px;
  border-right: 40px;
  border-left: 40px;
  border-radius: 50px;
}
.footer3-end {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}


.box1-btn {
  background-color: hsl(322, 100%, 66%);

  padding: 1rem;
  border-radius: 40px;
}
.footer {
  padding: 2rem;
  background-color: hsl(192, 100%, 9%);
  color: white;
}
.footer1{
  padding-top: 5px;
  padding-bottom: 5px;
  /* background-color: aqua; */
  
}
.footer1 img{
  max-width:20%;
    height:auto;
    background-color: inherit;
}
.footer2{
  
}
.footer-location {
  display: flex;
  gap: 1rem;
  padding-bottom: .5rem;
}
.footer-location p{
  color: white;
  width: 40%;
}
.footer-phone {
  display: flex;
  gap: 1rem;
  padding-bottom: .5rem;
}
.footer-phone p{
  color: white;
  width: auto;
}
.footer-email {
  display: flex;
  gap: 1rem;
  padding-bottom: .5rem;
}
.footer-email p{
  color: white;
}
.footer2-b {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.footer2-c {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.footer2-d {
  display: flex;
  justify-content: center;
  gap: .5rem;
}
.footer3-end p{
  color: white;
}

@media screen and (min-width: 600px) {
  .container{
    /* background-image: url(./images/bg-hero-desktop.svg); */
    
  }
  .box1{
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .box2{
  padding-bottom: 10px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .box3{
  padding-bottom: 10px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box4{
  padding-bottom: 10px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box5{
  padding-bottom: 10px;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
}
}