@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
/* font-family: "Poppins", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/* font-family: 'Open Sans', sans-serif; */
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.list-container button {
  background-color: white
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 20px;
  
}
a {
  text-decoration: none;
}
a.footer2-b {
  color: black;
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
h2,
h3 {
  color: hsl(192, 100%, 9%);
}
p {
  color: hsl(208, 11%, 55%);
}

header {
  background-image: url(./images/bg-hero-mobile.svg);
  background-size: cover;
}
.logo-container {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  
}
.list-container {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding-right: 10px;
  margin-top: -40px;
}

.footer {
  padding: 2rem;
  background-color: hsl(192, 100%, 9%);
  color: white;
}
.footer-location {
  display: flex;
  gap: 1rem;
}
.footer-phone {
  display: flex;
  gap: 1rem;
}
.footer-email {
  display: flex;
  gap: 1rem;
}
.footer2-b {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.footer2-c {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.footer2-d {
  display: flex;
  justify-content: center;
}
.box1 {
  background-image: url(./images/bg-hero-mobile.svg);
  background-size: cover;
}
.box1-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.box1-b {
  display: flex;

  align-items: center;
}
.box2-a {
  display: flex;
  align-items: center;
}
.box2-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.box3-a {
  display: flex;
  align-items: center;
}
.box3-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.box4-a {
  display: flex;
  align-items: center;
}
.box4-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.box5 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer3-end {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

p.footer3 {
  color: white;
}
.box1-btn {
  background-color: hsl(322, 100%, 66%);

  padding: 1rem;
  border-radius: 40px;
}
